<div id="pageWrapper">
	<div id="hero">
		<canvas id="overlay" width="940" height="49"></canvas>
		<div class="heroCutIn"></div>		
	</div>

	<br/>
	<!-- <span class="comingSoon"> More details coming soon! </span> -->

	<div id="menu" class="hidden row-fluid">		
  		<div class="span3"><a href="#event" class="navLink" id="event">THE BIG DAY</a></div>
  		<div class="span3"><a href="#lodging" class="navLink" id="lodging">FOR THE OUT OF TOWNERS</a></div>
  		<div class="span3"><a href="#party" class="navLink" id="party">RSVP</a></div>
   		<div class="span3"><a href="#sf" class="navLink" id="sf">REGISTRIES</a></div>
	</div> 

	<div id="event_content" class="hidden detail">
		<%= render "event" %>
	</div>
	<div id="lodging_content" class="hidden detail">
		<%= render "lodging" %>
	</div>
	<div id="party_content" class="hidden detail">
		<%= render "party" %>
	</div>
	<div id="sf_content" class="hidden detail">
		<%= render "sf" %>
	</div>

	<div style="font-family: Monda;">&nbsp;</div>

	<script type="text/javascript">
		var _heroHidden = false;
		var _selectedId = null;

		// Create the Cut-Out Text
		$(function(){
			// Get a handle to our canvas
			var canvas = $('#overlay');
			var ctx = canvas[0].getContext("2d");
			canvas.click(function (event) {			
				event.preventDefault();
				hideContent();
				history.pushState(null, "home page", "/");
	    		showHeroImage();
			});

			// Choose font
			ctx.font = "36px 'Helvetica'";

			// Draw the black rectangle
			ctx.fillStyle = "white";
			ctx.fillRect(0,0,940,46);

			// Punch out the text!
			ctx.globalCompositeOperation = 'destination-out'; 
			ctx.fillText("CATHERINE & PETER  SAN FRANCISCO  10.19.13", 0, 41);	
			
			// Nav Click Handler
			$(".navLink").click(function (event) {			
				event.preventDefault();
				var new_id = jQuery(this).attr("id");
				showContent(new_id);
	    	});

			var initialScreen = "<%= @detail %>";
			showContent(initialScreen);
		});
	
		// Start the hero image rotation
		$("#hero").backstretch([
			"/assets/_0.jpg",
		    "/assets/_1.jpg",
			"/assets/_2.jpg",
			"/assets/_3.jpg",
			"/assets/_4.jpg",
			"/assets/_5.jpg",
			"/assets/_6.jpg",
			"/assets/_7.jpg",
			"/assets/_8.jpg",
			"/assets/_9.jpg",
			"/assets/_10.jpg",
		  ], {duration: 2500, fade: 1200});			

		function hideContent() {
			$(".detail").addClass("hidden");
		}

		function showContent(id) {
			if (id != null && id.length > 0 && id != _selectedId) {
				hideHeroImage();
				$(".detail").addClass("hidden");
				var detail_id = "#" + id +"_content";
				$(detail_id).removeClass("hidden");
				history.pushState(null, "content page", id);
			}			
		}

		function hideHeroImage() {
			if (this._heroHidden == undefined || this._heroHidden == false) {
				this._heroHidden = true;

				$('#hero').animate({				
					height: 46
				}, 1000, function() {				
					$("#hero").data('backstretch').pause();
					$("#hero").css("background-color","#b1b1b1");
					$(".backstretch").fadeOut(100);				
				});					
			}			
		}
		
		function showHeroImage() {
			if (this._heroHidden == true) {
				this._heroHidden = false;
				$(".backstretch").fadeIn(10);
				
				$('#hero').animate({				
					height: 529
				}, 1000, function() {				
					$("#hero").data('backstretch').resume();
					$("#hero").css("background-color","");
				});
			}
		}

	</script>

</div>
