<div id="pageWrapper">
	<div id="hero">
		<canvas id="overlay" width="940" height="49"></canvas>
		<div class="heroCutIn"></div>		
	</div>

	<br/>
	<!-- <span class="comingSoon"> More details coming soon! </span> -->

	<div id="menu" class="row-fluid" style="text-align:right;">		
  		<div class="span3 left"><a href="#event" class="navLink" id="event">THE BIG DAY</a></div>
  		<div class="span3 center"><a href="#lodging" class="navLink" id="lodging">OUT OF TOWNERS</a></div>
  		<div class="span3 center"><a href="#rsvp" class="navLink" id="rsvp">RSVP</a></div>
   		<div class="span3 right"><a href="#registry" class="navLink" id="registry">REGISTRIES</a></div>
	</div> 

	<div id="event_content" class="hidden detail">
		<%= render "event" %>
	</div>
	<div id="lodging_content" class="hidden detail">
		<%= render "lodging" %>
	</div>
	<div id="rsvp_content" class="hidden detail">
		<%= render "rsvp" %>
	</div>
	<div id="registry_content" class="hidden detail">
		<%= render "registry" %>
	</div>

	<div style="font-family: Monda;">&nbsp;</div>

	<script type="text/javascript">
		var _HEADER_WIDTH = 940;
		var _HEADER_HEIGHT = 46;
		var _HEADER_TEXT_Y_OFFSET = 42;

		var _heroHidden = false;
		var _selectedId = null;

		// Create the Cut-Out Text
		$(function(){
			// Get a handle to our canvas
			var canvas = $('#overlay');
			var ctx = canvas[0].getContext("2d");
			canvas.click(function (event) {			
				event.preventDefault();
				hideContent();
				history.pushState(null, "home page", "/");
	    		showHeroImage();
			});

			// Choose font
			ctx.font = "36px 'Helvetica'";

			// Draw the black rectangle
			ctx.fillStyle = "white";
			ctx.fillRect(0,0,_HEADER_WIDTH,_HEADER_HEIGHT);

			// Punch out the text!
			ctx.globalCompositeOperation = 'destination-out'; 

			var header = {
				left: {
					text: "CATHERINE & PETER",
					x: 0,
				}, middle: {
					text: "SAN FRANCISCO",
				}, right: {
					text: "10.19.13",
				}
			};

			// measure the text width						
			header.left.width = ctx.measureText(header.left.text).width;
			header.middle.width = ctx.measureText(header.middle.text).width;
			header.right.width = ctx.measureText(header.right.text).width;

			// figure out wher it all goes
			header.right.x =  (_HEADER_WIDTH - header.right.width);
			var middleSpace = header.right.x - header.left.width;
			var middlePadding = middleSpace - header.middle.width;
			header.middle.x = header.left.width + Math.floor(middlePadding/2);

			ctx.fillText(header.left.text, header.left.x, _HEADER_TEXT_Y_OFFSET);
			ctx.fillText(header.middle.text, header.middle.x, _HEADER_TEXT_Y_OFFSET);
			ctx.fillText(header.right.text, header.right.x, _HEADER_TEXT_Y_OFFSET);
			
			// Nav Click Handler
			$(".navLink").click(function (event) {			
				event.preventDefault();
				var new_id = jQuery(this).attr("id");
				showContent(new_id);
	    	});	    	

			var initialScreen = "<%= @detail %>";
			showContent(initialScreen);
		});
	
		// Start the hero image rotation
		$("#hero").backstretch([
			"/assets/_0.jpg",
		    "/assets/_1.jpg",
			"/assets/_2.jpg",
			"/assets/_3.jpg",
			"/assets/_4.jpg",
			"/assets/_5.jpg",
			"/assets/_6.jpg",
			"/assets/_7.jpg",
			"/assets/_8.jpg",
			"/assets/_9.jpg",
			"/assets/_10.jpg",
		  ], {duration: 2500, fade: 1200});			
	</script>

</div>
