<div class="well">
	<div class="summary">Responses: <%= @registrations.count %></div>
	<div class="summary">Attending: <%= @attending.count %></div>
	<div class="summary">Not Attending: <%= @not_attending.count %></div>
</div>

<h2>Attending</h2>
<table class="table table-striped">
	<tr>
		<th>Id</th>
		<th>Name</th> 
		<th>Email</th> 
		<th>Meal</th> 
		<th>Comments</th> 
	</tr>
	<% @attending.each do |registration| %>		
		<tr>
			<td><%= registration.id %></td>
			<td><%= registration.name %></td>
			<td><%= registration.email %></td>
			<td><%= registration.dinner %></td>
			<td><%= registration.comments %></td>
		</tr>
	<% end %>
</table>
<br/><br/>
<h2>Not Attending</h2>
<table class="table table-striped">
	<tr>	
		<th>Id</th>
		<th>Name</th>
		<th>Comments</th> 
	</tr>
	<% @not_attending.each do |registration| %>
		<tr>			
			<td><%= registration.id %></td>
			<td><%= registration.name %></td>			
			<td><%= registration.comments %></td>
		</tr>
	<% end %>
</table>